$bg-color: #282c34;
$color-one: #f3f3f3;

body {
  background-color: $bg-color;
  color: $color-one;
}
h3 {
  margin: 8px;
  text-shadow: 2px 2px green;
}
.the-game {
  margin: 0 auto;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: $bg-color;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: $color-one;
}

.App-link {
  color: #61dafb;
}

.btn {
  margin: 18px;
  padding: 8px;
  border-radius: 4px;
  color: $color-one;
  font-weight: bold;
  background-color: purple;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
